body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url(notepad\ background\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(40, 40, 40);
    /* margin-left: 500px; */
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 45px;
    margin-top: -8px;
}

.notepad {
    background-color: white;
    border: 1px solid #9e9c9c;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 700px;
    width: 100%;
    background-color: rgba(187, 184, 184, 0.841);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

textarea {
    width: 480px;
    height: 200px;
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}